{% extends 'base.html.twig' %}

{% block title %} Mes compétences
{% endblock %}

{% block body %}
    
     <!-- Compétences -->
  <section id="skills">
    <div class="container">
      <h2 class="mb-4">Compétences</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <a href="/Compétence1" class="btn btn-dark btn-lg me-2">Administrer les réseaux et l'internet</a
          <ul class="list-unstyled mb-0">
            <li>HTML5 / CSS3 / SASS</li>
            <li>JavaScript / TypeScript</li>
            <li>React / Vue.js</li>
            <li>Bootstrap / Tailwind</li>
          </ul>
        </div>
        <div class="col-md-4 mb-4">
          <a href="/Compétence2" class="btn btn-dark btn-lg me-2">Connecter les entreprises et les usagers</a
          <ul class="list-unstyled mb-0">
            <li>Node.js / Express</li>
            <li>PHP / Symfony / Laravel</li>
            <li>APIs REST & GraphQL</li>
            <li>Authentification / JWT / OAuth</li>
          </ul>
        </div>
        <div class="col-md-4 mb-4">
          <a href="/Compétence3" class="btn btn-dark btn-lg me-2">Créer des outils et applications informatiques</a
          <ul class="list-unstyled mb-0">
            <li>Git / GitHub / GitLab</li>
            <li>Docker (bases)</li>
            <li>CI/CD (GitHub Actions, GitLab CI)</li>
            <li>Tests unitaires & intégration</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}