{% extends 'base.html.twig' %}

{% block title %} My hobbies
{% endblock %}

{% block body %}


<body>
<main class="container my-5">

  <div class="row g-4">


    <div class="col-md-4">
      <div class="card hobby-card h-100">
        <img src="https://blog.en.uptodown.com/files/2019/01/manga-plus-featured.jpg" class="card-img-top" alt="Hobby 1">
        <div class="card-body">
          <h5 class="card-title">Mangas</h5>
          <p class="card-text">
            J’adore capturer des moments uniques, jouer avec la lumière et explorer de nouveaux lieux.
          </p>
        </div>
      </div>
    </div>

    
    <div class="col-md-4">
      <div class="card hobby-card h-100">
        <img src="https://oppq.qc.ca/wp-content/uploads/Course-a-pied.jpg" class="card-img-top" alt="Hobby 2">
        <div class="card-body">
          <h5 class="card-title">Sport</h5>
          <p class="card-text">
            I regularly practice running to stay in shape and push myself.
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card hobby-card h-100">
        <img src="https://gamingcampus.fr/wp-content/uploads/2022/09/Thumbnail-genres-du-jv-1200x630-cropped.jpg" class="card-img-top" alt="Hobby 3">
        <div class="card-body">
          <h5 class="card-title">Videos games</h5>
          <p class="card-text">
            Passionate about immersive worlds, narrative games, and cooperative experiences.
          </p>
        </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="card hobby-card h-100">
        <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="Hobby 4">
        <div class="card-body">
          <h5 class="card-title">Photographie</h5>
          <p class="card-text">
            J’adore capturer des moments uniques, jouer avec la lumière et explorer de nouveaux lieux.
          </p>
        </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="card hobby-card h-100">
        <img src="https://img.freepik.com/premium-photo/group-friends-playing-board-game-together_14117-1167481.jpg" class="card-img-top" alt="Hobby 5">
        <div class="card-body">
          <h5 class="card-title">Society games</h5>
          <p class="card-text">
            I like to play board games to spend times with people i love.
          </p>
        </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="card hobby-card h-100">
        <img src="https://well.org/wp-content/uploads/2015/10/music.jpg" class="card-img-top" alt="Hobby 6">
        <div class="card-body">
          <h5 class="card-title">Music</h5>
          <p class="card-text">
            I love listening to music to relax, feel in another world and no think too much.
          </p>
        </div>
      </div>
    </div>

  </div>

</main>



</body>
</html>


{% endblock %}